body{

    background-image:  url(img/fondo-01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;

    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{

    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;

    border: 5px solid #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);    
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    animation: fadeIn 2s ease-in-out;
    